.cropped {
  width: 600px;
  height: 600px;
  overflow: hidden;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.points {
  display: flex;
  justify-content: end;
}

.buttons {
  display: flex;
  margin: 2em;
}

