<div id="quiz-space" class="center" style="background-color:#ebdef0 ">
  <div *ngIf="firstRound()" id="testButtons" class="center">
    <button class="buttons btn btn-outline-primary" (click)="prepareRound()">Start</button>
    <p>Vor erstem Start beim Proxy registrieren:</p>
    <a href="https://cors-anywhere.herokuapp.com/https://api.igdb.com/v4/games/" target="_blank">Proxy</a>
  </div>
  <div id="gamePreview" class="center cropped rounded">
    <img
      id="pic"
      src="https://i.postimg.cc/FzzbynF1/3e7f5042-f9ba-4967-9926-0c775a31f8ad.png"
      class="rounded"
    />
  </div>
  <div id="answerButtons">
    <div id="answerButtonsRow1" class="buttons">
      <button id="1" class="btn btn-outline-primary buttonsingle">VisualGuesser</button>
      <button id="2" class="btn btn-outline-primary">VisualGuesser</button>
    </div>
    <div id="answerButtonsRow2" class="buttons">
      <button id="3" class="btn btn-outline-primary buttonsingle">VisualGuesser</button>
      <button id="4" class="btn btn-outline-primary">VisualGuesser</button>
    </div>
  </div>
</div>
